
@{
    ViewBag.Title = "Attendance";
}

<h2>Attendance</h2>

<div class="row  no-gutters">
    <div class="col-lg-6">
        <iframe src="http://eas.csc.com.tw/pd/attend/pdvf" height="1080" width="1000"></iframe>
    </div>
    <div class="col-lg-1" style="margin-left:100px">
        <iframe src="http://10.10.102.28/HttpRequestTest" height="1080" width="1200"></iframe>
    </div>
</div>