
@{
    ViewBag.Title = "Receieve";
}

<h2>Receieve</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <iframe id="oy21" class="preview-box" src="http://crane.csc.com.tw/mis/oy_mgr_website/OY21/OYAO21.aspx" height="900" width="900"></iframe>
        </div>
        <div class="col-md-6">
            <iframe class="preview-box" src="http://10.10.102.28/PLS" height="900" width="900"></iframe>
        </div>
    </div>
</div>